<tr data-rep-row>
    <td>{{ rep.datetime|date:"d/m/Y H:i" }}</td>
    <td>
        {% if rep.city %}
            {{ rep.city }}
        {% else %}
            Ville non renseignée
        {% endif %}
    </td>
    <td>{{ rep.venue }}</td>
    <td class="text-right">
        <div class="flex gap-1 justify-end">
            {% if rep.ticket_url %}
                <a href="{{ rep.ticket_url }}" target="_blank" class="btn btn-sm btn-primary">
                    <i class="fa-solid fa-ticket"></i>
                </a>
            {% else %}
                <button class="btn btn-sm btn-primary btn-disabled">
                    <i class="fa-solid fa-ticket"></i>
                </button>
            {% endif %}

            {% if rep.play.user == user %}
                <button
                        class="btn btn-sm btn-error ml-2"
                        onclick="fadeAndDelete(this, '{% url 'shows:delete_representation' rep.pk %}')"
                >
                    <i class="fa-solid fa-trash"></i>
                </button>
            {% endif %}

        </div>
    </td>
</tr>
