{% load static %}

{% with bg_color="pink" %}
{% with text_color="black" %}
<a href="{% url 'promote:banner_click' promo.slug %}">
    <div role="alert" class="alert bg-{{ bg_color }}-500 border-{{ bg_color }}-500 text-{{ text_color }}">
        <div class="flex gap-3 items-center">
            <!-- Libellé publicité -->
            <span class="text-xs px-2 py-0.5 bg-gray-900/20 rounded ">
                    Publicité
                    </span>
            <!-- Vignette d’affiche -->
            <img
                    src="{% static 'promote/poster_'|add:promo.slug|add:'.jpg' %}"
                    alt="Affiche {{ promo.title }}"
                    class="w-12 h-16 object-cover rounded"
            />
        </div>
        <div>
            <div class="font-bold text-base">TEST <span class="text-sm  sm:text-base">(Acide désoxyribonucléique)</span></div>
            <div class="text-sm italic hidden lg:block"> « Si tu peux changer une seule chose, tu peux changer le monde entier. Tu y crois à ça ?» </div>
            <div class=""><span class="hidden sm:inline">Théâtre Le Funambule Montmartre – </span>Paris • <time datetime="2025-06-24">24 juin</time> → 5 juillet</div>
        </div>
        <div>
            <button class="btn bg-{{ bg_color }}-200 border-{{ bg_color }}-200 text-{{ bg_color }}-600 hover:bg-{{ bg_color }}-400 hover:border-{{ bg_color }}-400  hover:text-{{ bg_color }}-900">
                <span class="hidden sm:block">En savoir plus</span>
                <span class="sm:hidden"><i class="fa-solid fa-chevron-right"></i></span>
            </button>
        </div>
    </div>
</a>
{% endwith %}
{% endwith %}