{% extends "core/base.html" %}

{% block title %}
Petites Annonces Théâtre
{% endblock title %}

{% block main %}
<div class="bg-base-100 rounded p-4 mt-2 prose max-w-none">
    <h2>
        Changements sur <a href="{% url 'index' %}" class="link">petites-annonces-theatre</a> :
        un grand merci pour votre soutien !
    </h2>
    <p>
        Je tiens à commencer par vous remercier chaleureusement pour votre fidélité et pour avoir contribué au succès
        grandissant de <a href="{% url 'index' %}" class="link">petites-annonces-theatre</a>.
        Depuis son lancement en juin 2024, de plus en plus d'entre vous utilisent
        le site chaque mois. C'est grâce à vous que cette aventure prend forme et se développe !
    </p>

    <p>
        Ce succès, bien sûr, s'accompagne de quelques défis techniques.
        Certains d'entre vous ont peut-être rencontré des problèmes, comme des difficultés de connexion
        lorsque trop d'utilisateurs se connectent simultanément, des pages qui mettent un peu de temps à se charger,
        ou des alertes de sécurité de votre navigateur indiquant que le site n'est pas "sûr".
        Je pense que ces petites irrégularités sont liées à la plateforme d'hébergement utilisée jusqu'ici,
        <span class="font-bold">O2Switch</span>, qui ne permettait pas une gestion optimale face à la croissance du site.
    </p>

    <p>
        C'est pourquoi j'ai décidé de procéder à un changement d'hébergement pour offrir une expérience
        plus fluide. J'ai opté pour des solutions séparées pour chacune des parties essentielles du site,
        en privilégiant des services simples à gérer, mais aussi localisés en Europe et à des coûts limités,
        car le site doit rester accessible et sans publicité.
    </p>
    <p>
        Voici les nouvelles solutions choisies :
    <ul>
        <li>
            <span class="font-bold">Moteur du site : Railway.com</span>, une plateforme cloud qui permet de déployer
            des applications web en toute simplicité.
            Elle offre une gestion facile des ressources et des mises à jour automatiques.
            Le serveur est localisé à <span class="font-semibold">Amsterdam</span>, ce qui garantit une bonne rapidité
            et une proximité géographique avec les utilisateurs européens.
        </li>
        <li>
            <span class="font-bold">Base de données : NeonDB</span>, une base de données cloud moderne qui simplifie
            la gestion des données tout en étant scalable et performante.
            Le serveur de NeonDB est localisé à <span class="font-semibold"> Francfort</span>, garantissant une latence
            minimale pour les utilisateurs en Europe.
        </li>
        <li>
            <span class="font-bold">Serveur Mail : MailJet</span>, un service de messagerie fiable pour l'envoi d'e-mails
            transactionnels (comme les réinitialisations de mot de passe). MailJet est également localisé en Europe.
        </li>
    </ul>
    </p>
    <p>
        À priori, le coût total de ces services devrait être d'environ une <strong>trentaine d'euros par mois</strong>,
        mais comme annoncé au départ, le site doit rester gratuit et sans publicité.
        Si vous souhaitez soutenir cette initiative et aider à couvrir ces coûts,
        une <a href="https://ko-fi.com/petitesannoncestheatre">page de soutien</a> a été mise en place.
    </p>
    <p>
        Je tiens également à vous encourager à me partager toutes vos idées d'amélioration pour le site.
        L'objectif est de continuer à offrir une plateforme simple d'utilisation tout en répondant à vos besoins.
    </p>
    <p>
        Encore un immense merci à chacun d'entre vous pour avoir transformé un petit projet personnel en un outil qui
        répond à une véritable utilité.
        Grâce à vous, ce site existe et continue de grandir, et pour que cela dure, n'hésitez pas à en parler autour de vous !
    </p>
    <p>
        Merci de votre confiance et à bientôt sur Petites-Annonces-Théâtre !
    </p>
</div>
{% endblock main %}
