{% extends "core/base.html" %}
{% load static %}

{% block title %}
    Petites annonces dédiées au théâtre amateur pour connecter troupes et comédiens à la recherche d'un projet théatral
{% endblock title %}

{% block main %}
    <div class="p-2 md:p-0 md:mt-2">

        <!--        Promo -->
        <div class="flex flex-col gap-2">
            {% with "promote/banner_"|add:promo.slug|add:"_cyan.html" as template_name %}
                {% include template_name %}
            {% endwith %}

            {% with "promote/banner_"|add:promo.slug|add:"_slate.html" as template_name %}
                {% include template_name %}
            {% endwith %}

            {% with "promote/banner_"|add:promo.slug|add:"_yellow.html" as template_name %}
                {% include template_name %}
            {% endwith %}

            {% with "promote/banner_"|add:promo.slug|add:"_pink.html" as template_name %}
                {% include template_name %}
            {% endwith %}

            {% with "promote/banner_"|add:promo.slug|add:"_stone.html" as template_name %}
                {% include template_name %}
            {% endwith %}
        </div>


        <!--Search Offer-->
        {% include "core/components/search_offer.html" %}

        <!--Offers cards-->
        <div id="id_offers">
            <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 mt-2 gap-2" id="list_offers">
                {% include "core/partials/offers_partials.html" %}
            </div>
            <div id="spinner" class="text-center my-4 htmx-indicator">
                <i class="fa-solid fa-circle-notch fa-spin text-xl text-primary"></i>
            </div>
        </div>
    </div>

{% endblock main %}