{% extends "core/base.html" %}

{% block title %}
    Petites Annonces Théâtre
{% endblock title %}

{% block main %}
    <div class="bg-base-100 rounded p-4 mt-2 prose max-w-none">
        <h2>
            ADN (Acide désoxyribonucléique)
        </h2>
        <h3>
            Si tu peux changer une seule chose tu peux changer le monde entier. Tu y crois à ça ?
        </h3>
        <p>
            Dix personnes se retrouvent, comme souvent, dans un coin de forêt. Des personnes tout à fait ordinaires.
            Avec leurs rêves, leurs peurs, leurs petites habitudes.
            Ensemble, ils vont faire quelque chose dont eux-mêmes ne s’imaginaient pas capables.
        </p>
        <p>
            Qu’est-ce qui les pousse à commettre l’irréparable ? Est-ce la routine, l’ennui, la peur de l’exclusion ?
            Est-ce quelque chose dans les gênes, le fameux ADN, qui définit et conditionne chacun ?
        </p>
        <p>
            Une fois qu’aucun retour en arrière n’est possible, comment s’en sortir ? Est-ce qu’on peut vraiment changer les choses ?
        </p>
        <p>
            Écrit par le scénariste et dramaturge britannique Dennis Kelly, ADN est un polar qui explore les choix humains face à des situations extrêmes.
        </p>
        <p class="italic">
            L'équipe Petites Annonces Théâtre
        </p>

    </div>
{% endblock main %}
